/* SMOOTH SCROLL */

html{
scroll-behavior:smooth;
}


/* BODY BACKGROUND IMAGE */

body{

margin:0;

font-family:Arial;

background-image:url("project\ background.jpg");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

background-attachment:fixed;

color:#333;

}



/* HEADER */

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

background:#cce6ff;

}


.logo h2{

color:#003366;

}


nav a{

text-decoration:none;

color:#003366;

margin-left:25px;

font-size:18px;

font-weight:bold;

}



/* ABOUT SECTION */

.about{

display:flex;

align-items:center;

justify-content:center;

gap:60px;

padding:80px;

background:rgba(255,255,255,0.75);

border-radius:10px;

margin:40px;

}


.about-img img{

width:260px;

border-radius:50%;

border:5px solid #3399ff;

}


.about-text{

max-width:500px;

}


.about-text h2{

color:#0066cc;

}


.about-details{

margin-top:15px;

}


.about-buttons{

margin-top:25px;

display:flex;

align-items:center;

}



/* BUTTON STYLE */

.btn{

display:inline-block;

padding:12px 28px;

background:#3399ff;

color:white;

text-decoration:none;

border-radius:25px;

font-weight:bold;

transition:0.3s;

}


.btn:hover{

background:#0073e6;

transform:scale(1.05);

}


.contact-btn{

margin-left:15px;

background:transparent;

border:2px solid #3399ff;

color:#3399ff;

}


.contact-btn:hover{

background:#3399ff;

color:white;

}



/* SKILLS SECTION */

.skills{

text-align:center;

padding:70px;

background:#e6f2ff;

}


.skills-box{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}


.skill{

background:#d9ecff;

padding:15px 30px;

border-radius:8px;

font-weight:bold;

}



/* PROJECTS SECTION */

.projects{

padding:70px;

text-align:center;

}


.projects-container{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}


.project-card{

background:#d9ecff;

padding:20px;

width:250px;

border-radius:10px;

color:#003366;

transition:0.3s;

}


/* PROJECT CARD HOVER EFFECT */

.project-card:hover{

transform:translateY(-5px);

box-shadow:0px 6px 20px rgba(0,0,0,0.15);

}



/* CONTACT SECTION */

.contact{

text-align:center;

padding:60px;

background:#e6f2ff;

}



/* FOOTER */

footer{

background:#cce6ff;

text-align:center;

padding:15px;

color:#003366;

}



/* MOBILE RESPONSIVE DESIGN */

@media(max-width:768px){

header{

flex-direction:column;

}


.about{

flex-direction:column;

text-align:center;

}


.skills-box{

flex-direction:column;

}


.projects-container{

flex-direction:column;

align-items:center;

}


.about-buttons{

flex-direction:column;

gap:10px;

}


nav{

margin-top:10px;

}

}