/* BODY */

body{

margin:0;

font-family:Arial;

background:#f6efff;

}



/* HEADER */

header{

display:flex;

justify-content:space-between;

padding:20px 60px;

background:#e4d4ff;

}


.logo{

color:#4b0082;

}


nav a{

text-decoration:none;

margin-left:25px;

color:#4b0082;

font-weight:bold;

}



/* HERO SECTION */

.hero{

text-align:center;

padding:120px 20px;

background:#efe6ff;

}


.hero h1{

font-size:42px;

color:#4b0082;

}


.hero p{

font-size:18px;

margin-top:10px;

}



/* BUTTON */

.btn{

display:inline-block;

margin-top:25px;

padding:12px 30px;

background:#9c6cff;

color:white;

text-decoration:none;

border-radius:25px;

font-weight:bold;

}


.btn:hover{

background:#7a4ddb;

}



/* FEATURES */

.features{

padding:70px;

text-align:center;

}


.feature-container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}


.card{

background:#e6d6ff;

padding:25px;

width:250px;

border-radius:12px;

transition:0.3s;

}


.card:hover{

transform:translateY(-5px);

}



/* GAME PREVIEW */

.preview{

padding:70px;

text-align:center;

background:#efe6ff;

}



/* CONTACT */

.contact{

padding:70px;

text-align:center;

background:#e4d4ff;

}



/* FOOTER */

footer{

padding:20px;

text-align:center;

background:#4b0082;

color:white;

}



/* MOBILE RESPONSIVE */

@media(max-width:768px){

header{

flex-direction:column;

}


nav{

margin-top:10px;

}


.feature-container{

flex-direction:column;

align-items:center;

}

}